---
import Tabs from '@components/Tabs.astro';
import Accordion from '@components/Accordion.astro';
import { t } from "i18next";
import '@styles/about.scss';
import logoContinental from "@assets/logo_continental.png";
import logoUJA from "@assets/logo_uja.png";
import logoCY from "@assets/logo_cy_tech.png";
import logoSigma from "@assets/logo_sigma_consulting.png";
import logoLWF from "@assets/logo_la_web_factory.png";
import logoIUT from "@assets/logo_iut_bayonne.png";
import logoVieljeux from "@assets/logo_vieljeux.png";
import AboutItem from "@components/AboutItem.astro";

const ageCalculator = () => {
    //birthday
    const birthday = new Date('August 16, 2000 17:22:00')
    //calculate month difference from current date in time
    const month_diff = Date.now() - birthday.getTime();
    //convert the calculated difference in date format
    const age_dt = new Date(month_diff);
    //extract year from date
    const year = age_dt.getUTCFullYear();
    //now calculate the age of the user
    const age = Math.abs(year - 1970);
    //return the calculated age
    return age
};

const data = [
    {
        title: t("development_skill"),
        skills: [
            t("development_skill_item1"),
            t("development_skill_item2"),
            t("development_skill_item3"),
            t("development_skill_item4"),
            t("development_skill_item5"),
        ]
    },
    {
        title: t("network_skill"),
        skills: [
            t("network_skill_item1"),
            t("network_skill_item2"),
            t("network_skill_item3"),
        ]
    },
    {
        title: t("security_skill"),
        skills: [
            t("security_skill_item1"),
            t("security_skill_item2"),
            t("security_skill_item3"),
        ]
    },
];
---

<section id="about">
    <div class="about-container">
        <div class="section-title">
            <h2>{t("about")}</h2>
        </div>
        <div class="about-picture">
            <img src="/assets/about-main-image.jpeg" class="about-picture-image" alt="Myself" />
        </div>
        <div class="about-title">
            <h3>Kilian Pichard | {t("current_position")}</h3>
        </div>
        <div class="about-main-infos">
            <div class="about-description">
                <p>
                    {t("description")}
                </p>
            </div>
            <div class="about-infos">
                <ul>
                    <li>
                        <span class='infos-title'>{t("age")}</span>
                        <span class='infos-text'>{ageCalculator()}{t("age_text")}</span>
                    </li>
                    <li>
                        <span class='infos-title'>{t("address")}</span>
                        <span class='infos-text'>{t("address_text")}</span>
                    </li>
                    <li>
                        <span class='infos-title'>{t("email")}</span>
                        <span class='infos-text'>{t("email_text")}</span>
                    </li>
                    <li>
                        <span class='infos-title'>{t("phone")}</span>
                        <span class='infos-text'>{t("phone_text")}</span>
                    </li>
                    <li>
                        <span class='infos-title'>{t("study")}</span>
                        <span class='infos-text'>{t("study_text")}</span>
                    </li>
                    <li>
                        <span class='infos-title'>{t("rootme_score")}</span>
                        <span class='infos-text' id="rootme">
                             <svg aria-hidden="true" class="loading text-neutral-200 animate-spin dark:text-neutral-600 fill-primary-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                            </svg>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="about-resume">
            <Tabs tabName="resume">

                <Fragment slot="tab-1">{t("experience")}</Fragment>
                <Fragment slot="tab-2">{t("education")}</Fragment>
                <Fragment slot="tab-3">{t("skills")}</Fragment>

                <Fragment slot="panel-1">
                    <ul class='resume-list'>
                        <li class='list-item'>
                            <AboutItem
                                place={t("experience_cdsf_apprenticeship_place")}
                                dateStart={t("experience_cdsf_apprenticeship_date_start")}
                                dateEnd={t("experience_cdsf_apprenticeship_date_end")}
                                title={t("experience_cdsf_apprenticeship_title")}
                                description={`
                                    <ul>
                                        <li>${t("experience_cdsf_apprenticeship_description1")}</li>
                                        <li>${t("experience_cdsf_apprenticeship_description2")}</li>
                                        <li>${t("experience_cdsf_apprenticeship_description3")}</li>
                                    </ul>
                                `}
                                logo={logoContinental}
                                href="https://www.continental.com/fr-fr/"
                            />
                        </li>
                        <li class='list-item'>
                            <AboutItem
                                place={t("experience_uja_internship_place")}
                                dateStart={t("experience_uja_internship_date_start")}
                                dateEnd={t("experience_uja_internship_date_end")}
                                title={t("experience_uja_internship_title")}
                                description={`
                                    <ul>
                                        <li>${t("experience_uja_internship_description1")}</li>
                                        <li>${t("experience_uja_internship_description2")}</li>
                                        <li>${t("experience_uja_internship_description3")}</li>
                                        <li>${t("experience_uja_internship_description4")}</li>
                                        <li>${t("experience_uja_internship_description5")}</li>
                                    </ul>
                                `}
                                logo={logoUJA}
                                href="https://www.ujaen.es/"
                            />
                        </li>
                        <li class='list-item'>
                            <AboutItem
                                place={t("experience_cy_project1_place")}
                                dateStart={t("experience_cy_project1_date_start")}
                                dateEnd={t("experience_cy_project1_date_end")}
                                title={t("experience_cy_project1_title")}
                                description={`
                                    <ul>
                                        <li>${t("experience_cy_project1_description1")}</li>
                                        <li>${t("experience_cy_project1_description2")}</li>
                                        <li>${t("experience_cy_project1_description3")}</li>
                                    </ul>
                                `}
                                logo={logoCY}
                                href="https://cytech.cyu.fr/"
                            />
                        </li>
                        <li class='list-item'>
                            <AboutItem
                                place={t("experience_sigma_internship_place")}
                                dateStart={t("experience_sigma_internship_date_start")}
                                dateEnd={t("experience_sigma_internship_date_end")}
                                title={t("experience_sigma_internship_title")}
                                description={`
                                    <ul>    
                                        <li>${t("experience_sigma_internship_description1")} (<a href='https://airphoning.com'>Airphoning</a>).</li>
                                        <li>${t("experience_sigma_internship_description2")}</li>
                                        <li>${t("experience_sigma_internship_description3")}</li>
                                        <li>${t("experience_sigma_internship_description4")}</li>
                                    </ul>
                                `}
                                logo={logoSigma}
                                href="https://sigmaconsulting.fr/"
                            />
                        </li>
                        <li class='list-item'>
                            <AboutItem
                                place={t("experience_lwf_internship_place")}
                                dateStart={t("experience_lwf_internship_date_start")}
                                dateEnd={t("experience_lwf_internship_date_end")}
                                title={t("experience_lwf_internship_title")}
                                description={`
                                    <ul>
                                        <li>${t("experience_lwf_internship_description1")}</li>
                                        <li>${t("experience_lwf_internship_description2")}</li>
                                        <li>${t("experience_lwf_internship_description3")}</li>
                                        <li>${t("experience_lwf_internship_description4")}</li>
                                    </ul>
                                `}
                                logo={logoLWF}
                                href="https://lawebfactory.com/"
                            />
                        </li>
                        <li class='list-item'>
                            <AboutItem
                                place={t("experience_dut_project1_place")}
                                dateStart={t("experience_dut_project1_date_start")}
                                dateEnd={t("experience_dut_project1_date_end")}
                                title={t("experience_dut_project1_title")}
                                description={`
                                    <ul>
                                        <li>${t("experience_dut_project1_description1")}</li>
                                        <li>${t("experience_dut_project1_description2")}</li>
                                        <li>${t("experience_dut_project1_description3")}</li>
                                    </ul>
                                `}
                                logo={logoIUT}
                                href="https://www.iutbayonne.univ-pau.fr/"
                            />
                        </li>
                    </ul>
                </Fragment>

                <Fragment slot="panel-2">
                    <ul class='resume-list'>
                        <li class='list-item'>
                            <AboutItem
                                place={t("education_cy_place")}
                                dateStart={t("education_cy_date_start")}
                                dateEnd={t("education_cy_date_end")}
                                title={t("education_cy_title")}
                                description={`
                                    <ul class='description-education'>
                                        <li>${t("education_cy_description_1")}</li>
                                        <li>${t("education_cy_description_2")}</li>
                                        <li>${t("education_cy_description_3")}</li>
                                        <li>${t("education_cy_description_4")}</li>
                                        <li>${t("education_cy_description_5")}</li>
                                        <li>${t("education_cy_description_6")}</li>
                                        <li>${t("education_cy_description_7")}</li>
                                        <li>${t("education_cy_description_8")}</li>
                                        <li>${t("education_cy_description_9")}</li>
                                    </ul>
                                `}
                                logo={logoCY}
                                href="https://cytech.cyu.fr/"
                            />
                        </li>
                        <li class='list-item'>
                            <AboutItem
                                place={t("education_dut_place")}
                                dateStart={t("education_dut_date_start")}
                                dateEnd={t("education_dut_date_end")}
                                title={t("education_dut_title")}
                                description={`
                                    <ul class='description-education'>
                                        <li>${t("education_dut_description_1")}</li>
                                        <li>${t("education_dut_description_2")}</li>
                                        <li>${t("education_dut_description_3")}</li>
                                        <li>${t("education_dut_description_4")}</li>
                                        <li>${t("education_dut_description_5")}</li>
                                        <li>${t("education_dut_description_6")}</li>
                                        <li>${t("education_dut_description_7")}</li>
                                        <li>${t("education_dut_description_8")}</li>
                                        <li>${t("education_dut_description_9")}</li>
                                    </ul>
                                `}
                                logo={logoIUT}
                                href="https://www.iutbayonne.univ-pau.fr/"
                            />
                        </li>
                        <li class='list-item'>
                            <AboutItem
                                place={t("education_vieljeux_place")}
                                dateStart={t("education_vieljeux_date_start")}
                                dateEnd={t("education_vieljeux_date_end")}
                                title={t("education_vieljeux_title")}
                                description={`
                                    <ul class='description-education'>
                                        <li>${t("education_vieljeux_description_1")}</li>
                                        <li>${t("education_vieljeux_description_2")}</li>
                                        <li>${t("education_vieljeux_description_3")}</li>
                                        <li>${t("education_vieljeux_description_4")}</li>
                                        <li>${t("education_vieljeux_description_5")}</li>
                                    </ul>
                                `}
                                logo={logoVieljeux}
                                href="https://lycee-vieljeux.fr/"
                            />
                        </li>
                    </ul>
                </Fragment>

                <Fragment slot="panel-3">
                    <Accordion data={data} />
                </Fragment>
            </Tabs>
        </div>
    </div>
    <div class="white_svg">
        <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
            <polygon points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 ">
            </polygon>
        </svg>
    </div>
</section>
<script>
    import '../../scripts/about.js'

    const rootme = document.getElementById("rootme");
    fetch("https://api.www.root-me.org/auteurs/380649", {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Cookie": "api_key="+import.meta.env.PUBLIC_ROOTME_API_KEY
        },
    })
        .then((response) => response.json())
        .then((data) => {
            rootme.innerText = data.score;
        });
</script>